// @import 'partials/vfg';
// @import 'partials/vfg-core';


* {
  box-sizing: border-box;
  // font-size: 14px;
}

$black: #0F1626;
$lightbrown: #CFBA9B;
$gray1: #FAFAFA;
$gray2: #F0F0F0;
$gray3: #C4C4C4;
$green: #009D06;
$color: #FF533D;
$darkgold: #FDCB1B;
$skyblue: #369FF7;

.lightbrown {
  color: $lightbrown;
}

//-- custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  &-track {
    background: $gray1;
  }
  &-thumb {
    opacity: .8;
    background: $lightbrown;

    &:hover {
      opacity: 1;
    }
  }
}

// table
table {
  th {
    color: white !important;
    background: $lightbrown !important;
  }
  tr {
    th, td {
      padding: 0 10px !important;
    }
    td {
      font-size: .75rem !important;
    }
  }
}

fieldset {
  border: none;
}

.vue-form-generator {
  fieldset {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    .field-input, .field-select, .field-textArea, .field-image {
      width: 50%;
      padding: 0 3%;
    }
    .field-submit {
      .field-wrap {
        justify-content: center;
        margin: 40px 0;
      }
      input {
        background-color: $green !important;
        border-color: $green !important;
      }
    }
  }
  .form-control {
    padding: 8px 12px !important;
  }
}

.v-application {
  .error {
    background-color: transparent !important;
  }
}

// input 
.v-text-field .v-label {
  top: 10px !important;
  &.--active {
    top: 0 !important;
  }
}
.v-select.v-text-field:not(.v-text-field--single-line) input {
  margin-top: 10px !important;
}
.v-text-field .v-input__prepend-inner, .v-text-field .v-input__append-inner {
  margin-top: 13px !important;
}

// select 
// .v-select-list .v-list-item {
//   font-size: 14px;
//   min-height: 36px;
// }

@media (max-width: 780px) {
  .vue-form-generator {
    fieldset {
      .field-input, .field-select, .field-textArea, .field-image {
        padding: 0 2%;
      }
    }
  }
}

@media (max-width: 480px) {
  .vue-form-generator {
    fieldset {
      .field-input, .field-select, .field-textArea, .field-image {
        width: 100%;
        padding: 0;
      }
    }
  }
}