// @import 'partials/vfg';
// @import 'partials/vfg-core';


* {
  box-sizing: border-box;
  // font-size: 14px;
}

$black: #0F1626;
$lightbrown: #CFBA9B;
$gray1: #FAFAFA;
$gray2: #F0F0F0;
$gray3: #C4C4C4;
$green: #009D06;
$color: #FF533D;
$darkgold: #FDCB1B;
$skyblue: #369FF7;

.lightbrown {
  color: $lightbrown;
}

//-- custom scrollbar
::-webkit-scrollbar {
  width: 5px;

  &-track {
    background: $gray1;
  }

  &-thumb {
    opacity: .8;
    background: $lightbrown;

    &:hover {
      opacity: 1;
    }
  }
}

// table
table {
  th {
    color: white !important;
    background: $lightbrown !important;
  }

  tr {
    th,
    td {
      padding: 0 8px !important;
    }

    td {
      height: 40px !important;
      font-size: .75rem !important;
    }
  }
}

tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

fieldset {
  border: none;
}

.v-application {
  .error {
    background-color: transparent !important;
  }
}

// button
.oauth {
  opacity: 0.6;
  border-color: rgba(0, 0, 0, 0.87) !important;

  .v-btn__content {
    color: rgba(0, 0, 0, 0.87);
  }

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 780px) {
  
}

@media (max-width: 480px) {
 
}
